# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.WindowsFormsApp1.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\dhanu\Desktop\Temp (Edit 1)\WindowsFormsApp1\.idea\.idea.WindowsFormsApp1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
